<style>
    body {
    background-image: url("https://i.imgur.com/TAOkCxW.png");
    }
    label{
        color: brown;
    }
</style>
<body>
    <form action="/nfl" method="post">
      <label>name <input type="text" name="team"/></label>
      <label>location<input type="text" name="location"/></label>
     <label>SB Champs <input type="text" name='superBowlChamps'/></label> 
     <label>Franchise Age<input type="number" name="yearsAsFranchise"></label>
     <label>image <input type="text" name="image"/></label> 
      <input type="submit" value="add"/>
    </form>
  </body>

